.table__list{
    height: 385px;
    overflow: scroll;  
    background-color: white;
    color:black;

}

.table__list_dark{
    height: 385px;
    overflow: scroll;  
    background-color:black;
    color:white;

}

table{
    width: 100%;
}

.table__list tr:nth-of-type(odd){
    background-color: #e2e2e4;
}

.table__list_dark tr:nth-of-type(odd){
    background-color: #e2e2e4;
    color: black;
}

table tr{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.table__list td{
    padding: 0.5rem;
}

.table__list_dark td{
    padding: 0.5rem;
}