*{
  margin: 0;
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app_dark{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color: black;

}

body{
  background-color: #f5f6fa;
}

.app__header{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  margin-bottom: 10px;
}

.app__header_dark{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  margin-bottom: 10px;

}


.app__header h1{
  font-size: 50px;
  flex: 1;
  
}

.app__header_dark h1{
  font-size: 50px;
  flex: 1;
  color: #ffffff;
  
}

.app__box_holder{
  display: flex;
  justify-content: space-evenly;
}

.app__box_holder_dark{
  display: flex;
  justify-content: space-evenly;
}



.app__left{
  flex:3;

}

.app__left_dark{
  flex:3;

}

.app__right{
  flex:1;
  
}

.app__right_dark{
  flex:1;
  color: #ffffff;
  background-color: black;
  
  
}

.dark__label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #394a56;
  margin-right: 80px;
  
}

.dark__label-text {
  margin-left: 16px;
}

.dark__label-text_dark {
  margin-left: 16px;
  color: #ffffff;
}

.dark__toggle {
  isolation: isolate;
  position: relative;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow:
    -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6,
    4px 4px 4px 0px #d1d9e6 inset,
    -4px -4px 4px 0px #ffffff inset;
}

.dark__toggle-state {
  display: none;
}

.dark__indicator {
  height: 100%;
  width: 200%;
  background: cyan;
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  box-shadow:
    -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6;
}

.dark__toggle-state:checked ~ .dark__indicator {
  transform: translate3d(25%, 0, 0);
}



@media (max-width:720px){
  .app{
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
  }

  .app_dark{
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    background-color: black;
  }
}